{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<style>
    .container {
        display:block;
        top:0%;
        color:aliceblue;
        position: absolute;
        top: 30%;
        right: 0%;
        left: 0%;
        height: 300px;
        padding:10px;
        
    }
    .vertical-center {
        text-align:center;
        color:aliceblue;
        vertical-align: middle;
        font-size:500%

    }
</style> 
<div class="container">
    <h1 class="vertical-center"><em><strong>Home</strong></em><h1>  
</div>{% endblock %}
