{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
<style>
    h3{
        font-size:500%;
        color:white;
    }
    label{
        font-size:150%;
        color:white;
    }
</style>
    
<form method="POST">
    <div class="form-group">
        <h3 align="center"><em><strong>Login</strong></em></h3>
        <br />
        <br />
        <br />
        <label for="email"><strong>Email</strong></label>
        <input class="form-control" type="text" id="email" name="email" placeholder="Enter email address">
        <br />
        <label for="password"><strong>Password</strong></label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Enter Password"> 
    </div>
    <br />
    <button type="submit" class="btn btn-primary"> Login</button>
{% endblock %}
